.search-box > div:first-child {
	margin-bottom: 1rem;
}
.search-box > div:first-child {
	display: flex;
	align-items: center;
}
.search-box > div:first-child > a {
	margin-right: 1rem;
}
.search-box > div:first-child > a > img {
	height: 2.8rem;
	width: auto;
}
.search-box > div:first-child > div > h3 {
	font-weight: 900;
	font-size: 1.2rem;
	line-height: 1.2rem;
}
.search-box > div:first-child > div > p {
	font-size: 1rem;
	color: #6c757d;
	line-height: 1rem;
	margin-top: 0.15rem;
}
.search-box > div:last-child {
	display: flex;
}
.search-box > div:last-child > div:first-child {
	margin-right: 0.9rem;
}
.search-box > div:last-child > div:last-child {
	max-width: 105px;
}
.search-box > div:last-child > div:last-child select {
	color: #6c757d;
}

@media (min-width: 576px) {
	.search-box > div:last-child > div:first-child {
		min-width: 350px;
	}
}
