*,
::after,
::before {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	font-family: "Almarai", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	text-align: left;
	background-color: #fff;
}
.page-container {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.page-container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.page-container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.page-container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.page-container {
		max-width: 1140px;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
input,
select {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
input {
	overflow: visible;
}
select {
	text-transform: none;
	word-wrap: normal;
}
.input-field {
	display: block;
	width: 100%;
	height: calc(48px + 2px);
	padding: 0.75rem 1.1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #cccccc;
}
.input-field:focus {
	color: #000000;
	background-color: #fff;
	border-color: #000000;
	outline: 0;
}
.input-error {
	font-size: 1rem;
	color: rgb(231, 0, 0);
	margin-top: 0.1rem;
}
